p{
    color: greenyellow;
    font-family: Arial, Helvetica, sans-serif;
}
#second-paragraph{
    color: black;
}
h6{
    color: blueviolet;
}
.Lists{
    text-decoration:underline;
}
body{
    background-color: bisque;
    background-image: url('../images/Tom.PNG');
    background-repeat: no-repeat;
    
}